@page
@model WebApplication1.Pages.Dati.listaDatiModel
@{
}

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
	</div>
}

<!-- inseriamo qui il grafico -->

<div style="width: 50%;">
	<canvas id="graficoTest"></canvas>	
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	const ctx = document.getElementById('graficoTest');
	
	new Chart(ctx, {
	  type: 'line',
	  data: {
			labels: [
				@for(int i = 0; i < Model.lista.Count; i++)
				{
					@Html.Raw("'");
					@Model.lista[i].id;
					@Html.Raw("'");
					if (i < Model.lista.Count - 1) @Html.Raw(", ");
				}
				],
		datasets: [{
			label: 'Dati',
			data: [@Model.datiString1.listaDati],
				borderWidth: 1,
				tension: 0.3,
				fill: true
			}]
	  },
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  }
		}
	  }
	});
</script>




<a class="btn btn-primary btn-sm" href="aggiungi">Nuovo Utente</a>

<div>
	<table width="80%">
		<tr>
			<th>Id</th>
			<th>Data</th>
			<th>Valore</th>
		</tr>

		@foreach (var x in @Model.lista)
		{
			<tr>
				<td width="20%">@x.id</td>
				<td width="20%">@x.Data</td>
				<td width="20%">@x.Valore</td>
				<td width="20%">
					<a class="btn btn-primary btn-sm" href="modifica?id=@x.id">Modifca</a>
					<a class="btn btn-danger btn-sm" href="cancella?id=@x.id">Cancella</a>
				</td>
			</tr>
		}
	</table>
</div>